/* Base Application Styles */

@media screen and (min-width: 1200px) {
  .col-lg-1 {
      width: auto;
  }
}
/*@media screen and (min-width: 1215px) {
  .company-view .left-col {
    margin-left: 5%;
  }
}
@media screen and (min-width: 1400px) {
  .company-view .left-col {
    margin-left: 7%;
  }
}
@media screen and (min-width: 1500px) {
  .company-view .left-col {
    margin-left: 9%;
  }
}*/

html {
    height: 100%;
}
body {
    background-color: #F6F6F6;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    height: 100%;
    color: #505050;
}

/* Elements styles: button, a, custom width*/
a {
    color: #505050;
    text-decoration: none;
}
a:focus, a:hover {
    cursor: pointer;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
h1 {
  font-size: 45px;
  font-weight: 300;
  color: #333;
  /*color: #505050;*/
}
h2 {
  font-size: 35px;
  font-weight: 300;
  color: #333;
  /*color: #505050;*/
}
label {
  /*color: #777;*/
  font-weight: 300;
  font-size: 14px;
}
.bold-600 {
  font-weight: 600;
}
.btn {
  font-weight: 300;
}
.btn:focus,.btn:active {
   outline: none !important;
}

.btn-green {
    padding: 8px 20px;
    border: 0 none;
    border-radius: 6px;
}

.btn-green:focus, .btn-green:active:focus, .btn-green.active:focus {
    outline: 0 none;
}

.btn-green-primary {
    background: #26C572;
    color: #ffffff;
}

.btn-green-primary:hover, .btn-green-primary:focus, .btn-green-primary:active, .btn-green-primary.active, .open > .dropdown-toggle.btn-green-primary {
    background: #11A458 !important;
}

.btn-green-primary:active, .btn-green-primary.active {
    background: #178A4F !important;
    box-shadow: none;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.full-width {
    width: 100%;
}
.input-group {
    margin-bottom: 15px !important;
}
.no-border-right {
  border-right: 0px;
}
.no-border-radius {
  border-radius: 0px;
}
.no-border-radius-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.no-border-radius-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.no-margin {
  margin: 0px;
}
.vertical-align {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Page structure */
.wrap { min-height: 100%; }
.main {
    overflow: auto;
    padding-bottom: 100px; /* must be same height as the footer */
}
.footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    /*height: 100px;*/
    clear:both;
    background: #353B47;
}
.footer p {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  line-height: 60px;
}
.footer .disclaimer {
  color: #fff;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 100;
}
.segment {
  background-color: #fff;
}
.segment h3{
  color: #444;
  font-size: 23px;
  font-weight: 400;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 25px;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
/* End of page structure */

/* Header Navigation */
.header-nav .navbar-default {
    background-color: #FFFFFF;
    border: none;
}
.header-nav img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.header-nav .navbar-brand {
    padding: 5px 5px !important;
    margin-left: 15px !important;
}
.header-nav .navbar-nav>li>a {
    padding-top: 18px !important;
    padding-bottom: 12px !important;
}
.header-nav .navbar-right {
    margin-right: 25px;
}

.global-alert {
  margin-top: 20px;
}

.signup-modal {
    margin-top: 120px !important;
    width: 300px !important;
}
.signup-modal .signup-policy {
  font-size: 11px;
  margin-top: 4px;
}
.signup-modal a {
  color: #25abdc;
}
.signup-modal .subscribe-text {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.email-verification {
  margin-top: 140px;
  margin-bottom: 200px;
}
/* Login */
.login-name {
    cursor: pointer;
}
.login-modal {
    margin-top: 120px !important;
    width: 300px !important;
}
.login-modal .modal-body a {
  color: #25abdc;
  font-size: 12px;
  font-weight: 200;
}
.login-modal .modal-footer span {
  /*color: #777;*/
}
.login-modal .modal-footer a {
  color: #25abdc;
}
/* Pwd reset */
.pwd-reset-modal {
    margin-top: 120px !important;
    width: 300px !important;
}
.pwd-reset-modall .modal-footer span {
  /*color: #777;*/
}
.pwd-reset-modal .modal-footer a {
  color: #25abdc;
}

.pwd-reset {
  margin-top: 100px;
  margin-bottom: 70px;
}
.pwd-reset label {
  font-size: 17px;
  margin-bottom: 0px;
}
.pwd-reset input {
  border: none;
  border-bottom: 1px solid #d9d9de;
  outline: none;
  min-width: 320px;
  /*min-height: 50px;*/
  background-color: #f6f6f6;
  font-size: 21px;
  font-weight: 300;
}
.pwd-reset .btn-green-primary {
  margin-top: 30px;
  min-width: 200px;
}

/* Landing */
.landing {
    color: #6f6f6f;
    font-family: 'Raleway', sans-serif;
}
.landing .btn {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 30px;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.landing .btn-common {
  color: #ffffff;
  font-weight: 200;
  background: rgba(231,76,60,0.9);
}
.landing .jumbotron {
  background: url(../images/landing_bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 700px;
  margin-bottom: 0px;
}
.landing .jumbotron .row {
  padding-top: 45px;
}
.landing .jumbotron .intro-section {
  color: #ffffff;
  text-align: center;
  padding-top: 90px;
}
.landing .jumbotron .intro {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.landing .jumbotron .sub-heading { margin-bottom: 25px; }
.landing .main-features {
  background-color: #FFF;
  padding-top: 35px;
}
.landing .main-features .title {
  text-align: center;
}
.landing .main-features .content {
  margin-top: 50px;
  padding-bottom: 70px;
  background-color: #FFF;
}
.landing .main-features .content .feature-desc {
  font-weight: 200;
  font-size: 15px;
}
.landing .main-features img {
    height: 80px;
    width: 80px;
}
.landing h2{
    color: #E74C3C;
    font-weight: 800;
    font-size: 50px;
}
.landing h3 {
  color: #e74c3c;
}
.landing .fa-slideshare, .fa-line-chart, .fa-folder-open-o{
    font-size: 80px;
    color: rgba(231,76,60,1);
}
.landing .tech-features {
    background-color: #FFF;
    padding-bottom: 65px;
}
.landing .tech-features img {
    padding-top: 75px;
}
.landing .tech-features .small-title {
    font-size: 30px;
    color: #E74C3C;
    font-weight: 800;
    padding-top: 65px;
    padding-bottom: 5px;
    line-height: 40px;
}
.landing .summary {
    background-color: #ECF0F1;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
}
.landing .summary .call-to-action {
    color: #000;
}
.landing .explain {
  padding-top: 10px;
  padding-bottom: 35px;
  background-color: #fff;
}
.landing .explain .title {
  text-align: center;
}
.landing .explain .title h3 {
  font-size: 24px;
}
.landing .explain .title p {
  font-size: 20px;
  font-weight: 200;
}
.landing .explain .content{
  font-size: 16px;
  font-weight: 200;
  margin-top: 15px;
}
.landing .explain .content .col {
  padding-left: 70px;
}
.landing .explain .content ul {
  padding-left: 25px;
}

.investors h2{
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}
.investors .jumbotron {
  background: url('http://catapult.asia/imgs/thecrowd.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 710px;
  margin-bottom: 0px;
}
.investors .intro-section {
  color: #ffffff;
  text-align: center;
  padding-top: 0px;
}
.investors .intro-section p {
  font-size: 16px;
  font-weight: 200 !important;
}
.investors .intro-section .text-bg {
  background-color: #000;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 55px;
  opacity: 0.7;
}
.investors .space {
  /*height: 100px;*/
  background: #353B47;
}
.investors .btn {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 30px;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.investors .btn-common {
  color: #ffffff;
  font-weight: 200;
  background: rgba(232,53,34, 1);
}

.company-start {
  margin-top: 80px;
  margin-bottom: 300px;
  padding-top: 40px;
}
.company-start .col-lg-1 {
  width: auto;
}
.company-start h1 {
  font-size: 45px;
  font-weight: 200;
  color: #444;
}
.company-start input {
  border: none;
  border-bottom: 1px solid #d9d9de;
  outline: none;
  min-width: 495px;
  min-height: 50px;
  background-color: #F8F8F8;
  font-size: 23px;
  font-weight: 300;
}
.company-start button {
  font-size: 23px;
  font-weight: 300;
  max-width: 125px;
  height: 50px;
  float: right;
  margin-top: 20px;
}
.company-create {
  margin-top: 80px;
}
.company-create h1 {
  font-size: 35px;
  color: #444;
}
.company-create .col-lg-1 {
  width: auto;
}
.company-create .btn-toolbar .btn-group {
  margin-left: 10px;
}
.company-create .btn-toolbar .btn {
  min-height: 50px;
  padding: 10px 25px;
}
.company-create .btn-toolbar .btn-group .btn-clicked {
    background-color: #E6E6E6;
    border-color: #ccc;
}
.company-create .btn a:hover {
  /*color: #777 !important;*/
  color: #505050 !important;
}
.company-create .content {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
}
.company-create .segment {
  background-color: #fff;
}
.company-create .segment .row {
  /*margin-bottom: 15px;*/
}
.company-create .segment h3{
  color: #444;
  font-size: 23px;
  font-weight: 400;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 25px;
}
.company-create .segment label{
  /*color: #777;*/
  font-weight: 300;
  font-size: 14px;
}
.company-create .segment .form-control {
  /*color: #777;*/
}
.company-create .add-padding {
  padding-top: 20px
}
.company-create .submit-review {
  padding-top: 0px;
  padding-bottom: 50px;
}

.company-create-basics {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
}
.company-create-basics .add-padding{
  padding-top: 20px;
}
.company-create-basics .segment {
  background-color: #fff;
}
.company-create-basics .segment .row {
  margin-bottom: 15px;
}
.company-create-basics .segment h3{
  color: #444;
  font-size: 23px;
  font-weight: 400;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 25px;
}
.company-create-basics .segment label{
  /*color: #777;*/
  font-weight: 300;
  font-size: 14px;
}
.company-create-basics .segment .form-control {
  /*color: #777;*/
}
.company-create-basics .segment .dropdown .btn {
  width: 100%;
}
.company-create-basics .segment .dropdown li {
  font-size: 12px;
}
.company-create-basics .segment .dropdown .dropdown-menu {
  max-height: 400px;
  max-width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.company-create-overview .add-padding {
  padding-top: 20px;
}
.company-create-overview .slogan {
  margin-bottom: 8px;
  height: 30px
}
.company-create-overview .drop-image {
  font-size: 11px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 5px;
  height: 93px;
  width: 100%;
}
.company-create-overview .drop-image p{
  margin-bottom: 4px;
}
.company-create-overview .drop-image img {
  align-self: center;
  max-height: 150px;
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.company-create-overview .listing-image {
  height: 157px;
}

.company-create-overview .video-slogan .row {
  margin-bottom: 7px;
}
.company-create-overview .video-slogan .row input {
  height: 30px;
}
.company-create-overview .video-slogan .product-photo img {
  max-height: 80px;
}
.company-create-overview .video-slogan .product-photo hr {
  margin-top: 10px;
  margin-bottom: 4px;
  border-top: 1px solid #888888;
}
.company-create-overview .video-slogan .product-photo .title {
  width: 50%;
  margin-top:0;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}
.company-create-overview .img-size p {
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 300;
}
.company-create-overview .team-member {
  border-bottom: 1px solid #ccc;
}
.company-create-overview .team-member-drop-photo {
  font-size: 11px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 5px;
  height: 74px;
  width: 100%;
}
.company-create-overview .team-member-drop-photo img {
  align-self: center;
  height: 58px;
  width: auto;
  max-width: 90px;
}
.company-create-overview .team-field-list .panel {
  margin-bottom: 10px;
}
.company-create-overview .team-field-list button {
  background: none;
  border: 1px solid #ABAAAA;
  border-radius: 4px;
  font-size: 18px;
  color: #757373;
  outline: none;
  padding: 0px;
  margin-bottom: 25px;
  width: 100%;
}
.company-create-overview .team-field {
  padding-top: 5px;
}
.company-create-overview .team-field .remove-field {
  float: right;
  font-weight: 200;
  cursor: pointer;
  padding-left: 5px;
}
.company-create-summary {
  margin-top: 30px;
  margin-bottom: 50px;
}
.company-create-summary .editable {
  border: 1px solid #eaeaea;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px;
}
.company-create-summary .editable img{
  max-width: 100% !important;
}
.company-create-summary .row-last {
  padding-bottom: 20px;
}
.company-create-kyc {
  margin-top: 30px;
  margin-bottom: 50px;
}
.company-create-kyc .drop-file {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 13px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  height:200px;
  width: 100%;
}
.company-create-kyc .drop-file .uploading-filename {
  font-size: 15px;
  position: absolute;
  top: 70px;
}
.company-create-kyc .drop-file .plus {
  font-size: 50px;
  font-weight: 100;
  color: #ccc;
  margin-top: 35px;
}
.company-create-kyc .row-last {
  padding-bottom: 20px;
}
.company-view {
  margin-top: 110px;
  margin-bottom: 30px;
}
.company-view h2, h4 {
  margin: 0px;
}
.company-view .player {
  max-width: 100% !important;
  height: 450px !important;
  width: 100% !important;
  margin-bottom: 25px;
}
.company-view .overall-sketch {
  margin-bottom: 25px;
}
.company-view .overall-sketch img {
  width: 100%;
  height: auto;
}
.company-view .row {
  margin-left: 0px;
  margin-right: 0px;
}
.company-view .row-top {
  margin-bottom: 20px;
}
.company-view .left-col {
  padding-right: 0px;
  margin-right: 0px;
}
.company-view .left-col .details {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  box-shadow: rgba(0,0,0,0.05) 0 0 1px;
}
.company-view .left-col .description img{
  max-width: 100% !important;
  height: auto !important;
}
.company-view .row-top .right-col {
  padding-top: 10px;
}
.company-view .row-top .right-col span {
  margin-right: 10px;
}
.company-view .right-col .details {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  box-shadow: rgba(0,0,0,0.05) 0 0 1px;
}
.company-view .right-col .photo {
  background-color: #E6CFCF;
  height:50px;
  width:50px;
  position:relative;
  border-radius:100%;
  overflow:hidden;
}
.company-view .right-col .photo img {
  position:absolute;
  left:-50%; right:-50%; top:0;
  margin:auto;
  height:100%; width:auto;
}
.company-view .right-col h4 {
  margin-bottom: 10px;
}
.company-view .team-member p{
  margin: 0px;
}
.company-view .team-member .member-intro {
  margin-top: 10px;
}

.company-browse {
  margin-top: 80px;
}
.company-browse h1 {
  font-size: 45px;
  font-weight: 300;
  color: #444;
}
.company-browse .col-lg-1 {
  width: auto;
  margin-bottom: 30px;
}
.company-browse .company-list {
  margin-bottom: 80px;
}
.company-browse .company-card .panel {
  height: 400px;
  max-width: 350px;
  position: relative;
}
.company-browse .company-card .panel-body{
  padding: 0px;
}
.company-browse .listing-image img {
    width: 100%;
    max-height: 210px;
}
.company-browse .content {
  padding: 8px;
  /*color: #777;*/
  font-size: 13px;
  margin-bottom: 20px;
}
.company-browse .content .card-footer{
  position: absolute;
  bottom: 10px;
}
.company-browse .content h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #000;
}
.company-browse .content span {
  margin-right: 12px;
}

.companies-campaigns {
  margin-top: 80px;
}
.companies-campaigns h2 {
  margin-top: 45px;
  margin-bottom: 15px;
}
.companies-campaigns .header {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #868383;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.companies-campaigns .header span {
  padding-bottom: 10px;
}
.companies-campaigns .row-content {
  border-bottom: 1px solid #eaeaea;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.companies-campaigns .row-content .start-campaign {
  /*color: #777;*/
  cursor: pointer;
}
.companies-campaigns .row-content .status p::first-letter {
  text-transform: capitalize;
}

.campaign-create {
  margin-top: 100px;
  margin-bottom: 40px;
}
.campaign-create h1 {
  margin: 0px;
}
.campaign-create .btn-toolbar {
  margin-top: 45px;
}
.campaign-create .btn-toolbar .btn-group {
  margin-left: 10px;
}
.campaign-create .btn-toolbar .btn {
  min-height: 50px;
  padding: 10px 25px;
}
.campaign-create .btn-toolbar .btn-group .btn-clicked {
    background-color: #E6E6E6;
    border-color: #ccc;
}
.campaign-create .btn a:hover {
  /*color: #777 !important;*/
  color: #505050 !important;
}
.campaign-create-basics {
  margin-top: 35px;
}
.campaign-create-basics .field {
  margin-bottom: 55px;
}
.campaign-create-basics input {
  border: none;
  border-bottom: 1px solid #d9d9de;
  outline: none;
  min-width: 450px;
  min-height: 50px;
  background-color: #f6f6f6;
  font-size: 21px;
  font-weight: 300;
}
.campaign-create-basics .currency {
  min-width: 55px;
  max-width: 55px;
  margin-left: 10px;
}
.campaign-create-basics textarea {
  border: none;
  border-bottom: 1px solid #d9d9de;
  outline: none;
  min-width: 450px;
  background-color: #f6f6f6;
}
.campaign-create-basics label {
  font-size: 18px;
}
.campaign-create-basics h3 {
  font-size: 21px;
  font-weight: 300;
  color: #555;
}
.campaign-create-basics .content {
  margin-top: 35px;
}
.campaign-create-basics .content .segment {
  padding-top: 30px;
}
.campaign-create-story {
  margin-top: 35px;
}
.campaign-create-story h3 {
  font-size: 21px;
  font-weight: 300;
  color: #555;
  margin-bottom: 0px;
}
.campaign-create-story hr {
  margin-top: 5px;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
}
.campaign-create-story .content {
  background-color: #fff;
  padding-top: 35px;
}
.campaign-create-story .editable {
  border: 1px solid #eaeaea;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px;
}
.campaign-create-story .row-last {
  padding-bottom: 20px;
}

.campaign-view {
  margin-top: 110px;
}
.campaign-viewh2, h4 {
  margin: 0px;
}
.campaign-view .player {
  max-width: 100% !important;
  height: 450px !important;
  width: 100% !important;
  margin-bottom: 25px;
}
.campaign-view .row {
  margin-left: 0px;
  margin-right: 0px;
}
.campaign-view .row-top {
  margin-bottom: 20px;
}
.campaign-view .left-col {
  padding-right: 0px;
  margin-right: 0px;
}
.campaign-view .left-col .details {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  box-shadow: rgba(0,0,0,0.05) 0 0 1px;
}
.campaign-view .row-top .right-col {
  padding-top: 30px;
}
.campaign-view .row-top .right-col span {
  margin-right: 15px;
}
.campaign-view .right-col .details {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  box-shadow: rgba(0,0,0,0.05) 0 0 1px;
}
.campaign-view .right-col .photo {
  background-color: #E6CFCF;
  height:50px;
  width:50px;
  position:relative;
  border-radius:100%;
  overflow:hidden;
}
.campaign-view .right-col .photo img {
  position:absolute;
  left:-50%; right:-50%; top:0;
  margin:auto;
  height:100%; width:auto;
}
.campaign-view .right-col h4 {
  margin-bottom: 10px;
}
.campaign-view .team-member p{
  margin: 0px;
}
.campaign-view .team-member .member-intro {
  margin-top: 10px;
}
.campaign-view .invest .heading {
  font-size: 38px;
  font-weight: 300;
}
.campaign-view .invest .progess-invest {
  width: 100%;
  overflow: hidden;
}
.campaign-view .invest .progress-bar{
  height: 8px;
  width: 85%;
  border-radius: 4px;
  background-color: #e6f8fe;
  margin-top: 15px;
  float: left;
}
.admin {
  margin-top: 110px;
  margin-bottom: 80px;
}
.admin h3 {
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px;
}
.admin .admin-company-details {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.admin .admin-company-details a {
  font-style: italic;
  border-bottom: 1px solid #ccc;
}
.admin .admin-company-details .btn-green {
  margin-top: 24px;
  height: 35px;
}
.admin .admin-company-details iframe {
  display: none;
}

.policy {
  margin-top: 120px;
  margin-bottom: 70px;
}
.policy h1 {
  font-size: 55px;
  font-weight: 400;
}
.policy h2 {
  font-weight: 400;
}
.policy .segment {
  padding-bottom: 50px;
}
.policy .segment h3 {
  margin-bottom: 5px;;
  border-bottom: none;
  font-weight: 400;
}
.index img {
    margin: 40px auto;
    border-radius: 4px;
    background: #fff;
    display: block;
}

.index .notice {
    margin: 20px auto;
    padding: 15px 0;
    text-align: center;
    border: 1px solid #000;
    border-width: 1px 0;
    background: #666;
}
