/* Base Application Styles */
html {
    height: 100%;
}
body {
    background-color: #F8F8F8;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

/* Elements styles: button, a, custom width*/
a {
    color: #777;
    text-decoration: none;
}
a:focus, a:hover {
    cursor: pointer;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.btn-green {
    padding: 8px 20px;
    border: 0 none;
    border-radius: 6px;
}

.btn-green:focus, .btn-green:active:focus, .btn-green.active:focus {
    outline: 0 none;
}

.btn-green-primary {
    background: #26C572;
    color: #ffffff;
}

.btn-green-primary:hover, .btn-green-primary:focus, .btn-green-primary:active, .btn-green-primary.active, .open > .dropdown-toggle.btn-green-primary {
    background: #11A458 !important;
}

.btn-green-primary:active, .btn-green-primary.active {
    background: #178A4F !important;
    box-shadow: none;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.full-width {
    width: 100%;
}
.input-group {
    margin-bottom: 15px !important;
}
.vertical-align {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Page structure */
.wrap { min-height: 100%; }
.main {
    overflow: auto;
    padding-bottom: 100px; /* must be same height as the footer */
}
.footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    background: #353B47;
}
.footer p {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  line-height: 60px;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
/* End of page structure */

/* Header Navigation */
.header-nav .navbar-default {
    background-color: #FFFFFF;
    border: none;
}
.header-nav img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.header-nav .navbar-brand {
    padding: 5px 5px !important;
    margin-left: 15px !important;
}
.header-nav .navbar-nav>li>a {
    padding-top: 18px !important;
    padding-bottom: 12px !important;
}
.header-nav .navbar-right {
    margin-right: 25px;
}

/* Login */
.login-name {
    cursor: pointer;
}
.login-modal {
    margin-top: 70px !important;
    width: 300px !important;
}

/* Landing */
.landing {
    color: #999;
    font-family: 'Raleway', sans-serif;
}
.landing .btn {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 30px;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.landing .btn-common {
  color: #ffffff;
  font-weight: 400;
  background: rgba(231,76,60,0.5);
}
.landing .jumbotron {
    background: url(../images/landing_bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 700px;
    margin-bottom: 0px;
}
.landing .jumbotron .row {
    padding-top: 45px;
}
.landing .jumbotron .intro-section {
    color: #ffffff;
    text-align: center;
    padding-top: 90px;
}
.landing .jumbotron .intro {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.landing .jumbotron .sub-heading { margin-bottom: 25px; }
.landing .main-features {
    background-color: #ECF0F1;
    padding-top: 35px;
}
.landing .main-features .title {
    text-align: center;
}
.landing .main-features .content {
    margin-top: 35px;
    padding-bottom: 65px;
    background-color: #ECF0F1;
}
.landing h2{
    color: #E74C3C;
    font-weight: 800;
    font-size: 50px;
}
.landing .fa-slideshare, .fa-line-chart, .fa-folder-open-o{
    font-size: 80px;
    color: rgba(231,76,60,1);
}
.landing .tech-features {
    background-color: #FFF;
    padding-bottom: 65px;
}
.landing .tech-features img {
    padding-top: 75px;
}
.landing .tech-features .small-title {
    font-size: 30px;
    color: #E74C3C;
    font-weight: 800;
    padding-top: 65px;
    padding-bottom: 5px;
    line-height: 40px;
}
.landing .summary {
    background-color: #ECF0F1;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
}
.landing .summary .call-to-action {
    color: #000;
}
.company-create {
  margin-top: 80px;
}
.company-create h1 {
  font-size: 35px;
  color: #444;
}
.company-create .col-lg-1 {
  width: auto;
}
.company-create .btn-toolbar .btn-group {
  margin-left: 10px;
}
.company-create .btn-toolbar .btn {
  min-height: 50px;
  padding: 10px 25px;
}
.company-create .btn a:hover {
  color: #777 !important;
}
.company-create .content {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
}
.company-create .segment {
  background-color: #fff;
}
.company-create .segment .row {
  margin-bottom: 15px;
}
.company-create .segment h3{
  color: #444;
  font-size: 23px;
  font-weight: 400;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 25px;
}
.company-create .segment label{
  color: #777;
  font-weight: 300;
  font-size: 14px;
}
.company-create .segment .form-control {
  color: #777;
}

.company-create-basics {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
}
.company-create-basics .add-padding{
  padding-top: 20px;
}
.company-create-basics .segment {
  background-color: #fff;
}
.company-create-basics .segment .row {
  margin-bottom: 15px;
}
.company-create-basics .segment h3{
  color: #444;
  font-size: 23px;
  font-weight: 400;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 25px;
}
.company-create-basics .segment label{
  color: #777;
  font-weight: 300;
  font-size: 14px;
}
.company-create-basics .segment .form-control {
  color: #777;
}

/*.company-create-overview {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
}*/
.company-create-overview .add-padding {
  padding-top: 20px;
}
.company-create-overview .team-member {
  border-bottom: 1px solid #ccc;
}
.company-create-overview .team-member-drop-photo {
  font-size: 11px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 5px;
  height: 74px;
  width: 100%;
}
.company-create-overview .team-member-drop-photo img {
  align-self: center;
  height: 58px;
  width: auto;
  max-width: 90px;
}

.index img {
    margin: 40px auto;
    border-radius: 4px;
    background: #fff;
    display: block;
}

.index .notice {
    margin: 20px auto;
    padding: 15px 0;
    text-align: center;
    border: 1px solid #000;
    border-width: 1px 0;
    background: #666;
}
