.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
/*  justify-content: center; */
}

.timeline .li {
  transition: all 200ms ease-in;
}

.timeline .task-upper {
	min-height: 50px;	
  margin-bottom: 0px;
/*  padding: 0px 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.timeline .task-upper h4 {
	font-size: 13px;
  font-weight: 500;
	max-width: 75px;
	line-height: 17px;
}
.timeline .li.complete .task-upper h4 {
  color: #2d6fd8;
}

.timeline .task-below {
	min-height: 60px;
/*  padding: 0px 2px; */
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.timeline .task-below h4 {
	font-size: 13px;
  font-weight: 500;
	margin-top: 20px;
	max-width: 75px;
	line-height: 17px;

}
.timeline .task-below:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #ddd;
  position: absolute;
  top: -9px;
  left: 42%;
  transition: all 200ms ease-in;
}

.timeline .li.complete .task-below {
  border-top: 2px solid #2d6fd8;
}
.timeline .li.complete .task-below:before {
  background-color: #2d6fd8;
  border: none;
  transition: all 200ms ease-in;
}
.timeline .li.complete .task-below h4 {
  color: #2d6fd8;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .timeline .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timeline .timestamp {
    width: 100px;
  }

  .timeline .task-below:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
	
}

